@model IEnumerable<HRMS.ViewModels.BranchViewModel>
@{
    ViewBag.Title = "Branches";
}
@section css{
    <link href="~/Content/AdminPanelAssets/assets/css/components/cards/card.css" rel="stylesheet" type="text/css" />
}
<div class="page-header">
    <nav class="breadcrumb-one" aria-label="breadcrumb">
        <ol class="breadcrumb">

            <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page" style="font-weight:bold;">Branches</li>

        </ol>
    </nav>
</div>
<div class="row">
    @foreach (var branch in Model)
    {
        
    <div class="card component-card_1">
        <a href="@Url.Action("Details","Branch",new { id = branch.id})">
            <div class="card-body">
                <div class="icon-svg">
                    <svg>...</svg>
                </div>
                <h5 class="card-title">@branch.name</h5>
            </div>
        </a>
    </div>
       
    }
</div>